@media screen and (min-width: 1280px) , screen and (max-width: 1920px) {
    #yourID{  overflow-x: hidden; overflow-y: hidden; }                     
  }
  
  .main {
      background-image: url('../../Assets/LaunchesBG.jpg'); 
      background-size: cover;
      background-attachment: fixed;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Assets/LaunchesBG.jpg');
      max-height: fit-content; 
    }
    
    /*Buttons on top*/
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    
    .buttoncontainer {
      flex-direction: column;
      justify-content: center;
    }
    .buttonbest {
      justify-content: center;
      border-radius: 30px;
      appearance: none;
      background-color: #5b93be90;
      border-width: 0;
      box-sizing: border-box;
      color: #f6f6f6;
      cursor: pointer;
      display: inline-block;
      font-family: Clarkson, Helvetica, sans-serif;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1em;
      margin: 50px 200px;
      margin-left: 350px;
      margin-bottom: -30px;
      opacity: 1;
      outline: 0;
      padding: 1.5em 2.0em;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-rendering: geometricprecision;
      transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      white-space: nowrap;
    }
    
    .buttonbest:before {
      animation: opacityFallbackOut .5s step-end forwards;
      backface-visibility: hidden;
      background-color: #80cad9;
      clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
      width: 100%;
      border-radius: 30px;
    }
    
    .buttonbest:hover:before {
      animation: opacityFallbackIn 0s step-start forwards;
      clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
      border-radius: 30px;
    }
    
    .buttonbest:after {
      background-color: #000000;
      border-radius: 30px;
    }
    
    .buttonbest span {
      z-index: 1;
      position: relative;
    }
  
  
    /*Launch banners*/
  
    .content {
      background-color: rgba(255, 255, 255, 0); 
      padding: 20px;
      border-radius: 10px;
      flex-direction: column;
      height: 100%;
      width: 100%;
      box-sizing: border-box; 
      margin-top: 3%;
    }
  
    .upcomingsection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  } 
  
  
  .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #ffffff;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .6em;
    border: 0;
    
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    padding-bottom: 10%;
  
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #b34545;
  }



  .launch-card {
    position: relative;
    height: 400px;
    width: 1400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 1.8);
   
  
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    font-family: Clarkson, Helvetica, sans-serif;
    transition: transform 0.3s;
  
  
    
  
  }
  .launch-card:hover {
    transform: scale(1.05);
  }
  
  .launch-caption {
    position: absolute;
    bottom: 10px;
    right: 18px;
    color: white;
    text-align: right;  /* Add other styles for the caption text */
  }
  .launch-caption p{
    font-size: 20px;
    font-family: Clarkson, Helvetica, sans-serif;
    text-transform: none;
    
    
  }
  
  .launch-details {
    font-size: 10px;
    padding: 20px;
    color: #fff;
    font-family: Clarkson, Helvetica, sans-serif;
  
  }
  
  .launch-details h3
  {
    color: #fff;
    font-family: Clarkson, Helvetica, sans-serif;
  
  
  }
  .launch-details p {
    color: #fff;
    font-family: Clarkson, Helvetica, sans-serif;
  
  }
  
  
  h3 {
    font-size: 40px;
    margin-bottom: 10px;
  
  }
  
  p {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: Clarkson, Helvetica, sans-serif;
  
  }
  
  .launch-image img {
    width: 100%;
    height: auto;
    font-family: Clarkson, Helvetica, sans-serif;
  
  }
  .no-underline {
    text-decoration: none;
  }